@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.momo-trust-display-medium {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.momo-trust-display-bold {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.nice-gradient-text {
  background: linear-gradient(to right, #7209b7, #2196f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}